<div appScroll (navLinkElement)="onNavLinkElement($event)">
<div class="common-styles intro" id="intro">
    <div class="intro-main">
        <p class="intro-title">Chat Application</p>
        <button class="intro-btn" type="button" (click)="scrollToGettingStarted()">Get Started</button>
    </div>
</div>
<div class="getting-started common-styles" id="getting-started">
    <div class="register">
      <app-register></app-register>
    </div>
</div>
<div class="about common-styles" id="about">
  This Chat-application made by Satnam Singh as Final Year Project
</div>
<div class="footer">
    <app-footer></app-footer>
</div>
</div>
